<header style='padding: 0 var(--px);
/* background: url("{{ asset('images/background-vague.svg') }}") no-repeat;
 background-size: 100%; height: 100vh;
 */
        background: var(--rich-black-fogra-30);'>

<nav class="top-menu">
    <div style="display: flex;
    justify-content: space-between;
    align-items: center;">
        <a href="{{ path('app_home') }}" class="logo--menu">
            <img src="{{ asset('images/logo.svg') }}" width="100" height="100" alt="Accueil" title="Accueil" />
        </a>

        <div class="desktop-menu">
            <a href="{{ path('app_home') }}" class="a-menu">Accueil</a>
            <a href="{{ path('app_devoir') }}" class="a-menu indicator">Devoir</a>
            <a href="{{ path('app_search') }}" class="a-menu">Recherche</a>
            <a href="{{ path('app_forum') }}" class="a-menu">Forum</a>
            {% if (isAuthenticated is defined and isAuthenticated == true) %}
            <a href="{{ path('app_calendrier') }}" class="a-menu indicator">Calendrier</a>
            {% else %}
            {% endif %}
        </div>
        <div style="display: flex; justify-content: end; align-items: flex-start;">
            {% if (isAuthenticated is defined and isAuthenticated == true) %}
                {# L'utilisateur est connecté, affichez l'onglet du profil #}
                <a href="{{ path('app_profil') }}" class="a-menu btn" style="margin-right: 5px;">
                    <span style="margin-right: 5px;">Profil</span>
                    <img src="{{ asset('images/person-outline.svg') }}" width="23" height="23">
                </a>
                <a href="{{ path('app_deconnexion') }}" class="a-menu btn ala">
                    <span style="margin-right: 5px;">Déconnexion</span>
                    <img src="{{ asset('images/log-out-outline.svg') }}" width="23" height="23">
                </a>
            {% else %}
                {# L'utilisateur n'est pas connecté, affichez les onglets de connexion et d'inscription #}
                <a href="{{ path('app_connexion') }}" class="a-menu btn" style="margin-right: 5px;">
                    <span style="margin-right: 5px;">Connexion</span>
                    <img src="{{ asset('images/log-in-outline.svg') }}" width="23" height="23">
                </a>
                <a href="{{ path('app_inscription') }}" class="a-menu btn ala">
                    <span style="margin-right: 5px;">Inscription</span>
                    <img src="{{ asset('images/log-in-outline.svg') }}" width="23" height="23">
                </a>
            {% endif %}
        </div>

    </div>

    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
        <ul style="width: 100%;">
            <li><a class="menu-scan" href="{{ path('app_home') }}">Accueil</a></li>
            <li><a class="menu-scan" href="{{ path('app_devoir') }}">Devoir</a></li>
            <li><a class="menu-scan" href="{{ path('app_search') }}">Recherche</a></li>
            <li><a class="menu--boutton" href="{{ path('app_forum') }}">Forum</a></li>
            {% if (isAuthenticated is defined and isAuthenticated == true) %}
                {# L'utilisateur est connecté, affichez l'onglet du profil #}
                <li><a class="menu--boutton" href="{{ path('app_calendrier') }}">Calendrier</a></li>
                <li><a class="menu--boutton" href="{{ path('app_profil') }}">Profil</a></li>
                <li><a class="menu--connexion" href="{{ path('app_deconnexion') }}">Déconnexion</a></li>
            {% else %}
                {# L'utilisateur n'est pas connecté, affichez les onglets de connexion et d'inscription #}
                <li><a class="menu--connexion" href="{{ path('app_connexion') }}">Connexion</a></li>
                <li><a class="menu--connexion" href="{{ path('app_inscription') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
    <!--<?php require_once('search-box/search-box-mobile.php'); ?>-->
</nav>

